@import "tailwindcss";

@theme {
  --preto: #1A1A1A;
  --cinza: #3D3D3D;
  --cinza-claro: #D9D9D9;
  --verde: #53914D;
  --verde-claro: #84b026;
  --verde-piscina: #217373;
  --verde-piscina-escuro: #173540;
  --azul-escuro: #161F30;

  --font-roboto: 'Roboto', sans-serif;
}